<div class="container">
  <h3 class="my-3 text-center">My page</h3>
  <div class="row text-center">
    <%= render 'sidebar' %>
  </div>
  <h5 class="text-center my-3">会員登録情報</h5>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-5 mx-auto">
      <table class="table table-borderless col-md-6", border="1">
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <!--btn-colorカスタマイズできていない-->
        <tr>
          <td></td>
          <td align="right"><%= link_to "編集する", customers_info_edit_path, class: "btn btn-light btnx--outline-indigo btn-sm me-3" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>