<div class="container">
  <h3 class="my-5 text-center">My page</h3>
  <div class="row text-center">
    <%= render 'sidebar' %>
  </div>
  <h5 class="text-center my-3">会員登録情報</h5>
  <!--table幅が広すぎる-->
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <table class="table table-borderless", border="1">
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <!--テキスト右寄せにしたい＆リンク下線なしにしたい-->
        <tr>
          <td></td>
          <td class="text-right"><%= link_to "編集する", customers_info_edit_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>