<div class="container">
  <h3 class="my-5 text-center"><%= @customer.last_name %> <%= @customer.first_name %> さんの詳細</h3>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-6 mx-auto">
    <table class="table table-borderless", border="1">
      <tr>
        <th>ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</td>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th>郵便番号</td>
        <td>〒<%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><% if @customer.is_deleted %>
              <p style="color:red;">退会済み</p>
            <% else %>
            有効
            <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-outline-dark btn-sm" %>
          <!--各顧客別一覧-->
          <%= link_to "注文履歴", admin_orders_path, class: "btn btn-outline-primary btn-sm" %>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>