<div class="container">
  <h3 class="my-3 text-center">My page</h3>
  <div class="row text-center">
    <%= render 'public/customers/sidebar' %>
  </div>
  
  <h5 class="text-center my-3">注文詳細</h5>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6 mx-auto">
      
      <table class="table table-borderless", border="1">
        <caption align="top" class="text-dark">注文商品・支払い金額</caption>
        <% @total = 0 %>
        <% @postage =500 %>
        <% @order_details.each do |order_detail| %>
        <% @total += order_detail&.item&.with_tax_price.to_i*order_detail.amount %>
        <!--img のサイズをいい感じにしたい/外枠消して商品毎に下線を入れる/-->
        <tbody>
          <% if order_detail.item.blank? %>
            <tr>
              <td align="center" valign="middle" rowspan="3">
                <!--<image_tag noimd入れる-->
              </td>
              <td colspan="2">この商品は削除されました。</td>
            </tr>
          <% else %>
            <tr>
              <td align="center" valign="middle" rowspan="3">
                <!--% if order_detail.item.present? %>入れた理由忘れた-->
                  <%= image_tag order_detail.item.get_image(100,100)%>
                <!--% end %>-->
                </td>
              <td colspan="2"><%= order_detail&.item&.name %></td>
            </tr>
            <tr>
              <td>単価：<%= order_detail&.item&.with_tax_price %>円</td>
            </tr>
            <tr>
              <td>数量：<%= order_detail.amount %></td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
        <tfooter>
          <!--境界線を入れたい&全体的にもう少し左に余白が欲しい-->
          <tr>
            <td colspan="2" align="right">商品合計：<%= @total %>円</td>
          </tr>
          <tr>
            <td colspan="2" align="right">配送料：　<%= @postage %>円</td>
          </tr>
          <tr>
            <td colspan="2" align="right">支払い金額：<%= @total + @postage %>円</td>
          </tr>
        </tfooter>
      </table>
      
      <table border class="table table-borderless", border="1">
        <caption align="top" class="text-dark">お届け先</caption>
        <tr>
          <td class="col-3 col-md-2">宛名</td>
          <td><%= @order.address_name %></td>
        <tr>
        <tr>
          <td class="col-3 col-md-2">配送先</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td class="col-3 col-md-2">電話番号</td>
          <td><%= @order.phone_number %></td>
        </tr>
      </table>
      
      <table border class="table table-borderless", border="1">
        <caption align="top" class="text-dark">注文者・支払い方法</caption>
        <tr>
          <td class="col-3 col-md-2">注文者</td>
          <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
        <tr>
        <tr>
          <td class="col-3 col-md-2" rowspan="2">住所</td>
          <td>〒<%= @order.customer.postal_code %></td>
        <tr>
          <td><%= @order.customer.address %></td>
        </tr>
        <tr>
          <td class="col-3 col-md-2">電話番号</td>
          <td><%= @order.customer.phone_number %></td>
        </tr>
        <tr>
          <td class="col-3 col-md-2">注文日</td>
          <!--曜日の日本語化-->
          <td><%= @order.created_at.strftime('%Y/%m/%d (%u)') %></td>
        <tr>
        <tr>
          <td class="col-3 col-md-2">支払方法</td>
          <td><%= @order.payment_method_i18n%></td>
        </tr>
      </table>
    </div>
  </div>
</div>